:root {
  --color-primary: #fdb018;
}

body {
  background: linear-gradient(to right, #fff7ed, #fffbeb);
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 15px 32px -10px rgba(0,0,0,0.25);
  padding: 2rem;
  gap: 0.5rem;
}

.login-card {
  width: 100%;
  margin: 46rem;
}

.logo-full {
  width: 203px;
}

h4 {
  font-size: 1rem;
  line-height: 0;
}

.login-card h4 {
  font-weight: 400;
  color: #4a5565;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.text-field-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.25rem;
}

label {
  font-weight: 600;
  font-size: 0.825rem;
  cursor: default;
}

.text-field-group input {
  padding: 1rem;
  border: 1px solid #d1d5dc;
  border-radius: 9px;
  font-size: 0.9rem;
}

.text-field-group input:focus {
  outline: 3px solid #fbbf24;
  outline-offset: -2px;
}

.checkbox-field-group {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: -0.25rem;
  margin-bottom: 1rem;
}

.checkbox-field-group input {
  width: 16px;
  height: 16px;
  display: grid;
  place-items: center;
  margin-left: 0;
  appearance: none;
  border: 1px solid #858585;
  background-color: #3b3b3b;
  border-radius: 2px;
  box-sizing: border-box;
}

.checkbox-field-group input:focus-visible,
button:focus-visible {
  outline: 1px solid black;
  outline-offset: 3px;
}

.checkbox-field-group input:hover {
  border-color: #acacac;
}

.checkbox-field-group input:checked {
  background-color: #0078d4;
  border-color: transparent;
  background-image: url("/public/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.checkbox-field-group label {
  color: #364153;
  cursor: pointer;
}

.checkbox-field-group:has(input:hover),
.checkbox-field-group:has(label:hover) {
  input {
    border-color: #acacac;
  }
}

.checkbox-field-group:has(input:active),
.checkbox-field-group:has(label:active) {
  input {
    border-color: #858585;
  }
}

.checkbox-field-group:has(input:checked:hover),
.checkbox-field-group:has(input:checked + label:hover) {
  input {
    background-color: #00589c;
    border-color: transparent;
  }
}

.checkbox-field-group:has(input:checked:active),
.checkbox-field-group:has(input:checked + label:active) {
  input {
    background-color: #0d96ff;
    border-color: transparent;
  }
}

button, a {
  border: none;
  font-size: 0.96rem;
  font-weight: 600;
  background: none;
  cursor: default;
  text-decoration: none;
}

.main-button {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: white;
  box-shadow: 0 3px 15px -7px rgba(0,0,0,0.5);
  transition: background-color 0.15s ease;
}

.main-button:hover {
  background-color: #e69f15;
}

.orange-link-wrapper {
  display: flex;
  justify-content: center;
}

.orange-link {
  color: var(--color-primary);
  margin-top: 1.75rem;
}

.orange-link:hover {
  text-decoration: underline;
}
